# Archivos de compilación y módulos
/bin
/pkg
/testdata

# Archivos de editor
.idea/
.vscode/
*.swp
*.log
*.tmp
*.out
*.html

fuzz/testdata/fuzz/FuzzPostEndpoint/7c80ad3272a57b0ddd065b532d8c43ab30d79e6555150e05d1f614faf8e69120
fuzz/testdata/fuzz/FuzzGetEndpoint/00946c290ec1480d281cb2a1f3cbb979a5ffea4453aaa62806abef46c984ec50
fuzz_results.json
