# Archivos de compilación y módulos
/bin
/pkg
/testdata/fuzz
/reports

# Archivos de editor
.idea/
.vscode/
*.swp
*.log
*.tmp
*.out
*.html
fuzz/testdata/fuzz/FuzzGetEndpoint/
fuzz/testdata/fuzz/FuzzPostEndpoint/
fuzz/generatedSeeds/get_seeds.json
fuzz/generatedSeeds/post_seeds.json
